<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalWork">
        <activity
            android:name=".aPictureList1"
            android:exported="false" />
        <activity
            android:name=".aPictureList"
            android:exported="false" />
        <activity
            android:name=".aPictureItem"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ProductListActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".orderfood"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Logout"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".LoggedInActivity"
            android:exported="false" />
        <activity
            android:name=".comment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>